.rect {
  cursor: pointer;
  width: 200px;
  transition: 0.5s;
  z-index: 0;
}

.rect:hover {
  transform: scale(1.05);
  transition: 0.5s;
  z-index: 999;
}

.home {
  padding: 15px 0px 15px 0px;
  background-color: #e9e9e9;
}
